@import "tailwindcss";

/* *{
  overflow-x:hidden;
} */

.scroll-container{
  overflow:hidden;
}

@keyframes scrollleft{
  from{
    right:-100px;
  }
  to{
    left:-100px;
  }
}

.scroll-content{
  left:100%;
  overflow:hidden;
  animation-name: scrollleft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#i1{
  animation-delay:calc(30s / 6 * (6 - 1) * -1);
}
#i2{
  animation-delay:calc(30s / 6 * (6 - 2) * -1);
}
#i3{
  animation-delay:calc(30s / 6 * (6 - 3) * -1);
}
#i4{
  animation-delay:calc(30s / 6 * (6 - 4) * -1);
}
#i5{
  animation-delay:calc(30s / 6 * (6 - 5) * -1);
}
#i6{
  animation-delay:calc(30s / 6 * (6- 6) *- 1);
}


.scroll-container2{
  overflow:hidden;
}


@keyframes scrollleft{
  from{
    right:-1000px;
  }
  to{
    left:-1000px;
  }
}

.scroll-contents{
  left:100%;
  overflow:hidden;
  animation-name: scrollleft;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#ii1{
  animation-delay:calc(20s / 6 * (6 - 1) * -1);
}
#ii2{
  animation-delay:calc(20s / 6 * (6 - 2) * -1);
}
#ii3{
  animation-delay:calc(20s / 6 * (6 - 3) * -1);
}
#ii4{
  animation-delay:calc(20s / 6 * (6 - 4) * -1);
}
#ii5{
  animation-delay:calc(20s / 6 * (6 - 5) * -1);
}
#ii6{
  animation-delay:calc(20s / 6 * (6- 6) *- 1);
}
